<!DOCTYPE html>
<html>
<head>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="row">
	<div class="col-12">
		<h1 class="text-secondary">Lista Concesionario</h1>
	</div>
	</div>
	<div class="container">
		<div class="row mt-5">
			<div class="col-12">
				<table class="table">
					<tr>
						
						<th>Nombre</th>
						<th>Telefono</th>
						<th>Password</th>
						<th>Rol</th>
						<th>Concesionario</th>
						<th>Borrar</th>
						<th>Editar</th>
					</tr>
					<tr th:each="comercial: ${listaadministrador}">
						
						<td th:text="${comercial.nombre}"></td>
						<td th:text="${comercial.telefono}"></td>
						<td th:text="${comercial.password}"></td>
						<td th:text="${comercial.rol}"></td>
						
						<td>
						<ul th:each="conce : ${comercial.concesionarios}">
						<li th:text="${conce.nombre}" style="list-style:none"></li>
						</ul>
						</td>
						<td><div ><button  type="button"><a class="btn btn-danger" sec:authorize="hasAnyAuthority('Admin')" th:href="@{/administrador/borrar/{id}(id=${comercial.nombre})}">Borrar</a></button></div></td>
						<td><button type="button"><a class="btn btn-warning" th:href="@{/administrador/editar/{id}(id=${comercial.nombre})}">Editar</a></button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-6">
				<button type="button"><a class="btn btn-primary" href="/">Volver a HOME</a></button>
			</div>
			<div class="col-6">
				<button type="button"><a class="btn btn-danger" href=/administrador/agregar>Agregar ADMINISTRADOR</a></button>
			</div>
		</div>
	</div>
</body>
</html>